.App table th,
.App table td {
  padding: 10px;
  border: 1px solid black;
  word-break:break-all;
}

.App table{
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
  margin: 24px auto;
}

.App table:last-child{
  margin-bottom: 0;
}